body
{
    background-color: bisque;
    margin-left: 10%;
    margin-right: 10%;
}

#Title
{
    color: black;
    font-size: 200px;
    border-style: solid;
    border-width: 30px;
    border-radius: 15px;
    text-align: center;
    margin-top: 5%;
}

#p1
{
    font-size: 100px;
    color: indianred;
    text-align: center;
    margin-top: 10%;
    border-style: solid;
    border-width: 5px;
    border-radius: 50px;
}

#p2
{
   color: black;
   font-style: italic;
   font-size: 50px;
   font-weight: bold;
   text-align: center;

}

.c1
{
   float: left;
   color: black;
   font-style: italic;
   font-weight: bold;
   font-size: 30px;
   width: 50%;
   z-index: 50%;
   text-align: center;
   clear: right;
   width: 150px;
   margin-right: 100px;
   margin-left: 100px;
   border-color: indianred;
   border-radius: 30px;
   border-style: groove;
   padding: 20px;

}
