body
{
    background-color: bisque;
    margin-left: 10%;
    margin-right: 10%;
}

/*Main About Me heading*/
#Title
{
    color: black;
    font-size: 200px;
    border-style: solid;
    border-width: 30px;
    border-radius: 15px;
    text-align: center;
    margin-top: 5%;
}

/* Introductory heading */
#p1
{
    font-size: 100px;
    color: indianred;
    text-align: center;
    margin-top: 10%;
    border-style: solid;
    border-width: 5px;
    border-radius: 50px;
}

/* Biography heading*/
#p2
{
   color: black;
   font-style: italic;
   font-size: 50px;
   font-weight: bold;
   text-align: center;

}

/* Styling the blocks of information*/
.c1
{
   color: black;
   font-style: italic;
   font-weight: bold;
   font-size: 40px;
   text-align: left;
   margin-right: 90px;
   margin-left: 90px;
   padding: 30px;
}

/*Styling of Top Ten Header*/
.h3
{
   color: indianred;
   border: 10px solid indianred;
   font-style: italic;
   font-size: 60px;
   font-weight: bold;
   text-align: center;
   margin-left: 440px;
   margin-right: 440px;
   padding: 30px;
   border-radius: 20px;

}

Styling of List Items
.A2
{
    text-align: left;
    font-style: italic;
    font-size: 40px;
    margin-left: 75px;
    font-weight: 600;
    text-underline-position: below;
   
}
.A2 li
{
    font-style: italic;
    font-size: 40px;
    padding: 15px;
    width: 250px;
    margin-top: 10px;

}

